{% extends 'base.html.twig' %}

{% block title %} Payment failed!{% endblock %}


{% block body %}
   

    <h1>Thanks for your attempted order!</h1>
    <p>
      We would appreciate your business!
      But your payment failed.
    </p>
    </div>
</div>


{% endblock %}
